@import "tailwindcss";

@theme {
  --font-logo-font: "a Alley Garden", "sans-serif";
  --font-body-font: "Inter", "sans-serif";
  --font-forum: "Forum", "sans-serif";
  --font-roboto: "Roboto", "sans-serif";
  --font-montserrat: "Montserrat", "sans-serif";
  --font-nova: "Proxima Nova", "sans-serif";
  --font-open-sans: "Open Sans", "sans-serif";
  --font-poppins: "Poppins", "sans-serif";
  --color-grey: #F5F5F5;
  --breakpoint-xs: 400px;
  --breakpoint-sm: 500px;
  --breakpoint-md: 786px;
  --breakpoint-lg: 1024px;
}

a.active {
  color: oklch(0.8080.114 19.571);
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 5px;
}
* {
 scroll-behavior: smooth; 
}
.modal.show {
  display: block;
}
button {
  cursor: pointer;
}